<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @permcl_action.title %>
</p>

<%= link_to 'Edit', edit_permcl_action_path(@permcl_action) %> |
<%= link_to 'Back', permcl_actions_path %>
